.EmployeePage {
  padding-left: 30px;
  font-size: 18px;
}

.groupHeader {
  font-weight: bold;
}

.header {
  font-weight: bold;
}

.name {
  font-size: 26px;
  font-weight: bold;
}

.formerEmployee {
  color: red;
}
