.EmployeePage {
  padding-top: 3rem;
  padding-left: 3rem;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100vh;
}

.pageDark {
  background-color: #333;
  color: #eee;
}

.groupHeader {
  font-weight: bold;
}

.header {
  font-weight: bold;
}

.name {
  font-size: 26px;
  font-weight: bold;
}

.error {
  color: red;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.button {
  all: unset;
  padding: 6px 10px;
  width: fit-content;
  background-color: #3d77e3;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #2b5097;
}
