.EmployeeCard {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #d0d0d0;
  padding: 10px 0;
  font-weight: 400;
}

.cardDark {
  background-color: #333;
}

.detailsLight {
  color: #555;
}
.detailsDark {
  color: #aaa;
}

.button {
  all: unset;
  padding: 6px 10px;
  width: fit-content;
  border-radius: 4px;
  cursor: pointer;
}

.btnLight {
  background-color: #2b5097;
  color: white;
}

.btnDark {
  background-color: #1d3768;
  color: #eee;
}
