.EmployeeListPage {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 30px;
  width: clamp(fit-content, 50%, 100vw);
  height: 100vh;
  padding: 5rem;
}

.pageLight {
  color: #333;
}

.pageDark {
  background-color: #333;
  color: #eee;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.button {
  all: unset;
  padding: 6px 10px;
  width: fit-content;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid #2b5097;
}

.btnLight {
  background-color: #2b5097;
  color: white;
}

.btnDark {
  background-color: #1d3768;
  color: #eee;
}

.inactiveBtn {
  background-color: #eeeeee;
  color: black;
  border: 2px solid grey;
}
